/* Warna dasar ceria */
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to bottom, #89cff0, #f0faff);
    color: #333;
}

/* Header di atas */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffffaa;
    backdrop-filter: blur(10px);
    padding: 15px 20px;
    box-shadow: 0 3px 10px #00000010;
}

.top-bar h2 {
    font-size: 20px;
}

.back-btn {
    text-decoration: none;
    color: #0077ff;
    font-weight: 600;
    font-size: 14px;
}

/* Container tengah */
.container {
    margin: 40px auto;
    text-align: center;
    max-width: 500px;
    padding: 20px;
}

.container h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #ffffff;
    text-shadow: 0 2px 10px #00000030;
}

.container p {
    font-size: 16px;
    margin-bottom: 25px;
}
.schedule-item {
    margin-bottom: 15px;
    padding: 15px;
    border-left: 6px solid #007bff;
}

.form {
    background: white;
    margin: 40px auto;
    padding: 25px;
    width: 90%;
    max-width: 430px;
    border-radius: 20px;
    box-shadow: 0 8px 20px #00000020;
    animation: slideIn 0.6s ease forwards;
    text-align: left;
}

.form h1 {
    text-align: center;
}

/* Input */
label {
    font-weight: 600;
    margin-top: 15px;
    display: block;
}

/* Tombol */
button {
    width: 100%;
    margin-top: 25px;
    padding: 13px;
    border: none;
    border-radius: 14px;
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.schedule-item p {
    margin: 5px 0;
}

.delete-btn {
    background: #ff4d4d;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.delete-btn:hover {
    background: #d93636;
}

