/* GENERAL */
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f9f7ff;
    color: #444;
}

.page {
    display: none;
    padding: 20px;
}

.page.active {
    display: block;
}

.auth-container {
    max-width: 350px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px #ddd;
    text-align: center;
}

input, select {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background: #ff7edb;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ff49c6;
    transform: scale(1.05);
}

.link {
    color: #ff49c6;
    cursor: pointer;
}

/* SIDEBAR */
.hamburger {
    font-size: 26px;
    padding: 10px;
    cursor: pointer;
}

.sidebar {
    width: 0;
    background: #ffe3fb;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.3s;
    padding-top: 30px;
    box-shadow: 2px 0 5px #ccc;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #ffbef0;
}

.sidebar li:hover {
    background: #ffb4e7;
}

/* HOME */
.home-box {
    text-align: center;
    margin-top: 30px;
}

.kartun {
    width: 220px;
    cursor: pointer;
    transition: 0.3s;
}

.kartun:hover {
    transform: scale(1.08);
}

.chat-pop {
    display: none;
    padding: 10px 15px;
    background: #fff4ff;
    border-radius: 10px;
    margin: 10px auto;
    width: fit-content;
    box-shadow: 0 3px 10px #ddd;
}

/* CARD */
.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px #ddd;
    max-width: 350px;
    margin: auto;
}

.result {
    margin-top: 15px;
    padding: 15px;
    background: #fff0ff;
    border-radius: 10px;
    display: none;
}

/* CONTENT */
.content {
    display: none;
}

.content.active {
    display: block;
}
