html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

/* Header */
header {
    background: #3498db;
    padding: 15px;
    color: white;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

/* Hero Section */
.hero {
    padding: 40px;
    text-align: center;
}

button {
    padding: 10px 20px;
    border: none;
    background: #3498db;
    color: white;
    cursor: pointer;
}

/* Animasi saat halaman masuk */
.fade {
    opacity: 0;
    animation: fadeIn 0.6s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Animasi saat keluar */
.fade-out {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}


/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #ddd;
    margin-top: 40px;
}
